<div class="header-container">
  <div class="left-side">
    <span class="brand-name">Client<span class="cursive">Flow</span></span>
    <div class="subheading">
      <span>by</span>
      <img src="https://thewealthmosaic.s3.amazonaws.com/media/Logo_Cognicor_1.png" alt="Cognicor Logo" class="cognicor-logo">
    </div>
  </div>
  <div class="right-side">
    <a href="/dashboard" class="dashboard-link">ClientFlow</a>
    <a href="/settings" class="settings-link">
      <img src="https://static.vecteezy.com/system/resources/previews/000/422/697/original/vector-settings-icon.jpg" alt="Settings" class="settings-icon">
    </a>
    <a href="/profile" class="profile-link">
      <img src="https://wallpapers.com/images/hd/default-user-profile-icon-lemo857tj1b3io21.png" alt="Profile" class="profile-pic">
    </a>
  </div>
</div>