.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  
  .left-side .brand-name {
    font-size: 36px;
    
  }
  
  .left-side .cursive {
    font-family: 'Brush Script MT';
  font-style: italic;
  }
  
  .left-side .subheading {
    font-family: 'Brush Script MT';
  font-style: italic;
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  
  .left-side .subheading span {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .left-side .cognicor-logo {
    width: 100px;
    height: auto;
  }
  
  .right-side a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
  }
  
  .settings-icon,
  .profile-pic {
    width: 24px;
    height: 24px;
  }