.login-wrapper {
  display: flex;
  justify-content: center; /* Changed to center for better alignment with image */
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* Changed from #f5f5f5 to white */
  position: relative;
  padding: 0 20px; /* Adjusted padding for responsiveness */
}

.login-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 10;
}

.login-image {
  padding-right: 300px;
  flex: 1;
  max-width: 800px; /* Adjusted size of the login image container */
  min-height: 800px; /* Minimum height to ensure visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px; /* Space between image and form */
}

.login-bg-image {
  width: 100%; /* Full width of the image container */
  max-height: 800px; /* Adjusted height to control image size */
  object-fit: cover; /* Ensure the image covers the area */
  border-radius: 20px; /* Match the form's rounded corners */
}

.login-container {
  max-width: 350px;
  width: 33.33%;
  margin: 100px 0;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 4px;
}

.global-error {
  color: #dc3545;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

.username-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

.password-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

.captcha-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  color: #555;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
}

.sign-in-btn {
  width: 100%;
  padding: 15px;
  background-color: #248ae9;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #0e8634;
}

.captcha-question {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  padding: 4px;
  border-radius: 5px;
}